<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="card.css">
</head>
<body>
	
	<div class="nav">
		<nav>
			<ul>
				<li><a href="/">Main Menu</a></li>
			</ul>
			<!-- <div class="logo">Your Logo</div> -->
    			<div class="search-form">
      			<form action="/search" method="GET">
        		<input type="text" name="query" placeholder="Search...">
        		<button type="submit">Search</button>
		</nav>
	</div>
	<div class="wrapper">
		<a href="/campuss">
		<div class="card">
			<div class="poster"><img src="pune_img.jpg" alt="Location Unknown"></div>
			<div class="details">
				<h1>Pune</h1>
				<div class="rating">
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<i class="far fa-star"></i>
				</div>
				
				<p class="desc">Pune is a city with a rich historical and cultural heritage.Pune a cultural diversity, blending traditional Maharashtrian customs with a modern cosmopolitan outlook. Its historical forts, including Sinhagad Fort, Rajgad Fort, and Torna Fort, serve as iconic symbols of the city's glorious past . Each fort narrates compelling stories of courage, resilience, and historical events, making Pune a treasure trove for history buffs and nature enthusiasts alike.</p>
				<div class="cast">
					<ul>
						<li><img src="Sinhagad_Fort.jpg" alt="Sinhagad_Fort" title="Sinhagad_Fort"></li>
						<li><img src="torna.jpg" alt="Torna_Fort" title="Torna_Fort"></li>
						<li><img src="rajgad_fort.jpg" alt="Rajgadh_Fort" title="Rajgadh_Fort"></li>
					</ul>
				</div>
			</div>
		</div>
		</a>
		<a href="/events">
		<div class="card">
			<div class="poster"><img src="harihar.JPG" alt="Location Unknown"></div>
			<div class="details">
				<h1>Nashik</h1>
				<div class="rating">
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<i class="far fa-star"></i>
				</div>
				<p class="desc">Nashik is a city with a rich cultural and historical heritage.Nashik's culture is deeply rooted in history, with a vibrant blend of traditions and modernity. The city's historical forts, such as Anjneri Fort and Ramshej Fort, stand as timeless witnesses to its rich heritage, attracting history enthusiasts and adventurers alike. These forts not only showcase architectural marvels but also narrate tales of valor and strategic importance from bygone eras.</p>
				<div class="cast">
					<ul>
						<li><img src="harihar1.png" alt="Harihar_Fort" title="Harihar_Fort"></li>
						<li><img src="ramshej.png" alt="Ramshej_Fort" title="Ramshej_Fort"></li>
						<li><img src="anjaneri.png" alt="Anjaneri_Fort" title="Anjaneri_Fort"></li>
					</ul>
				</div>
			</div>
		</div>
	</a>
		<a href="/facility">
		<div class="card">
			<div class="poster"><img src="Shivaji_maharaj.jpg" alt="Location Unknown" ></div>
			<div class="details">
				<h1>Raigad</h1>
				<div class="rating">
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<i class="fas fa-star-half-alt"></i>
				</div>
				<p class="desc">Raigad, known for its historical forts and natural beauty, played a crucial role during the Maratha Empire. The culture of Raigad is deeply rooted in Maratha history, with many sites dedicated to Chhatrapati Shivaji Maharaj.Its historical forts like Raigad Fort, Karnala Fort, and Sudhagad Fort are living testaments to the region's valorous past and strategic prowess.Raigad's forts are historical landmarks and cultural treasures that embody the spirit of Maharashtra's glorious heritage.</p>
				<div class="cast">
					<ul>
						<li><img src="csm.pmg.jpeg" alt="Raigad_Fort" title="Raigad_Fort"></li>
						<li><img src="karnala.png" alt="Karnala_Fort" title="Karnala_Fort"></li>
						<li><img src="sudhagad.jpg" alt="Sudhagad_Fort" title="Sudhagad_Fort"></li>
					</ul>
				</div>
			</div>
		</div>
	</a>
	</div>
</body>
</html>