<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Contact Us</title>

	<!-- font Awesome CDN link -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />

	<!-- External CSS -->
	<link rel="stylesheet" href="style.css">
	<link rel="stylesheet" href="about.css">
	<link rel="stylesheet" href="course-inner.css">
	<link rel="stylesheet" href="contact.css">

	<!-- JQuery CDN link -->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>
<body>
	<!-- Navigation start -->
	<nav>

		<div class="navigation">
			<img src="11.jpg" alt="">
			<ul>
				<i id="menu-close" class="fas fa-times"></i>
				<li><a href="/card">Back</a></li>
			</ul>

			<img src="AIE.jpg" id="menu-btn" alt="">
		</div>
	</nav>
	<!-- Navigation ends -->


	<!-- Hero section starts from here -->
	<section id="about-home">
		<h2>
			Contact Us
		</h2>
	</section>
	<!-- Hero section ends from here -->


	<section id="contact">
		<div class="getin">
			<h2>Get in touch</h2>
			<p>Looking for help? Fill the form and start a new adventure.</p>

			<div class="getin-details">
				<h3>Location</h3>
				<div>
					<i class="fa-solid fa-map get"></i>
					<p>F-29,Omaxe City, Ajmer Road,
						Jaipur (Rajasthan) - 302026</p>
				</div>

				<h3>Phone</h3>
				<div>
					<i class="fas fa-phone-alt get"></i>
					<p>Dr. Surendra Sharma - 093511-57438
						 <br> Er. Rajesh Jaiswal – 090019-92256</p>
				</div>

				<h3>Support</h3>
				<div>
					<i class="fa-solid fa-envelope get"></i>
					<p>admission@aryacollege.org </p>
				</div>

				<h3>Follow Us</h3>
				<div class="pro-links">
					<a href="https://www.facebook.com/aietmarya"><i class="fab fa-facebook"></i></a>
					<a href="https://www.instagram.com/arya_aietm_official"><i class="fab fa-instagram"></i></a>
					<a href="https://www.linkedin.com/school/arya-group-of-colleges-jaipur/"><i class="fab fa-linkedin-in"></i></a>
					
				</div>
			</div>
		</div>

		<div class="form">
			<h4>Let's Connect</h4>
			<p>You can Ask for any query related to the college.</p>
			<form action="/query" method="POST">
			<div class="form-row">
				<input type="text" placeholder="Your Name" name="name" id="name">
				<input type="email" placeholder="Your Email" name = "email" id="email">
			</div>
			<div class="form-col">
				<input type="text" placeholder="Subject line..." name="subject" id="subject">
			</div>
			<div class="form-col">
				<textarea name="" id="" cols="30" rows="8" placeholder="How can we help?"></textarea>
			</div>

			<div class="form-col">
				<button>Send Message</button>
			</div>
		</form>
		</div>
	</section>


	<section id="map">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7119.885316028557!2d75.62297974087738!3d26.84177607966828!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x396c4a242bfe0457%3A0x5cfb1cb7647bd44e!2sOmaxe%20City%2C%20Theekariya%2C%20Rajasthan%20302026!5e0!3m2!1sen!2sin!4v1715355244121!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>	
	</section>


	<script>
		// Show menu links on burger click
		$('#menu-btn').click(function(){
			$('nav .navigation ul').addClass('active')
		});

		// Hide navbar on click function
		$('#menu-close').click(function(){
			$('nav .navigation ul').removeClass('active')
		});
	</script>
</body>
</html>