<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="finalevent.css">
</head>
<body>
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand"><img src="logo.png" alt=""></a>
          <form class="d-flex" action="/explore" method="GET">
            
            <button class="btn btn-outline-success" type="submit">contact</button>
          </form>
        </div>
      </nav>
      <div class="headd">
        <h2 style="color: black;" id="hh">Raigad</h2>
        <br>
        <p style="color: black;">Raigad, steeped in history and natural beauty, boasts iconic forts like Raigad Fort, Karnala Fort, and Sudhagad Fort, each telling tales of valor and strategic significance from the Maratha era. <br>Trekking enthusiasts can explore scenic routes to these forts, with Sudhagad offering moderate trekking experiences and Karnala captivating visitors with its bird sanctuary. <br>Beyond forts and treks, Raigad entices travelers with attractions like Alibaug's pristine beaches, the invincible Murud-Janjira Fort, and the ancient Buddhist caves of Kuda Caves, making it a captivating destination for history, nature, and beach enthusiasts alike.</p>
      </div>
      <div class="wrapper">
        <div class="items" id="item">
          <div class="item" tabindex="0" style="background-image: url(85.jpg)"></div>
        </div>
        <div class="items" id="item">
          <div class="item" tabindex="0" style="background-image: url(86.jpg)"></div>
        </div>
        <div class="items" id="item">
          <div class="item" tabindex="0" style="background-image: url(85.jpg)"></div>
        </div>
        <div class="items" id="item">
          <div class="item" tabindex="0" style="background-image: url(87.jpg)"></div>
        </div>
            
      </div>
      <div class="headd">
        <h2 style="color: black;" id="hh">Canteen</h2>
        <br>
        <p style="color: black;">The college has its own canteen, which serves healthy and nutritious food to its students at subsidized rates. The menu varies from spicy samosas, wafers to full-meals. The students also have a wide range of chocolates and soft drinks to choose from.</p>
      </div>
      <div class="wrapper">
        <div class="items" id="item">
          <div class="item" tabindex="0" style="background-image: url(50.jpg)"></div>
        </div>
        <div class="items" id="item">
          <div class="item" tabindex="0" style="background-image: url(51.jpg)"></div>
        </div>
        <div class="items" id="item">
          <div class="item" tabindex="0" style="background-image: url(52.jpg)"></div>
        </div>
        <div class="items" id="item">
          <div class="item" tabindex="0" style="background-image: url(53.jpg)"></div>
        </div>
            
      </div>
      <div class="headd">
        <h2 style="color: black;" id="hh">Transportation</h2>
        <br>
        <p style="color: black;">The college runs its own fleet of buses and Cabs for the convenience of the students and the staff members to help them commute from Jaipur and surrounding areas. The students intending to avail the transport facility need to inform the transport officer at the time of admission.</p>
      </div>
      <div class="wrapper">
        <div class="items" id="item">
          <div class="item" tabindex="0" style="background-image: url(80.jpg)"></div>
        </div>
        <div class="items" id="item">
          <div class="item" tabindex="0" style="background-image: url(81.jpg)"></div>
        </div>
        <div class="items" id="item">
          <div class="item" tabindex="0" style="background-image: url(80.jpg)"></div>
        </div>
        <div class="items" id="item">
          <div class="item" tabindex="0" style="background-image: url(82.jpg)"></div>
        </div>
            
      </div>
      <div class="headd">
        <h2 style="color: black;" id="hh">Fully equipped labs</h2>
        <br>
        <p style="color: black;">To abide by the state of the-art Infrastructure, Arya Institute of Engineering Technology & Management has made available highest number of personal computers equipped with the latest soft wares and connected to the latest accessories and services and other gadgets under one roof. The Labs are equipped with latest soft wares which include different Language Compilers, Operating Systems, Visual Studios, and packages for academics and administrative Purposes.</p>
      </div>
      <div class="wrapper">
        <div class="items" id="item">
          <div class="item" tabindex="0" style="background-image: url(60.jpg)"></div>
        </div>
        <div class="items" id="item">
          <div class="item" tabindex="0" style="background-image: url(61.jpg)"></div>
        </div>
        <div class="items" id="item">
          <div class="item" tabindex="0" style="background-image: url(62.jpg)"></div>
        </div>
        <div class="items" id="item">
          <div class="item" tabindex="0" style="background-image: url(24.jpg)"></div>
        </div>
            
      
            
      </div>
      
      <div class="visme_d" data-title="Untitled Project" data-url="76nk78nw-untitled-project?fullPage=true" data-domain="forms" data-full-page="true" data-min-height="100vh" data-form-id="64866"></div>
      <!-- <script src="https://static-bundles.visme.co/forms/vismeforms-embed.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>