<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Education Website Template</title>

	<!-- font Awesome CDN link -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />

	<!-- External CSS -->
	<link rel="stylesheet" href="style.css">

	<!-- JQuery CDN link -->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>
<body>
	<!-- Navigation start -->
	<nav>
		<div class="navigation">
			<img src="11.jpg" alt="">
			
				<ul>
					<li><a href="/explore">Contact</a></li>
				</ul>
			
			

			<img src="AIE.jpg" id="menu-btn" alt="">
		</div>
	</nav>
	<!-- Navigation ends


	<!-- Hero section starts from here -->
	<section id="home">
		<h2>
			WELCOME TO AIETM
		</h2>
		<div class="btn">
			<form action="/explore" method="GET">
			<a href="/card" class="blue" >EXPLORE</a>
		</form>
		</div>
	</section>
	<!-- Hero section ends from here -->

<!--  -->

	<script>
		// Show menu links on burger click
		$('#menu-btn').click(function(){
			$('nav .navigation ul').addClass('active')
		});

		// Hide navbar on click function
		$('#menu-close').click(function(){
			$('nav .navigation ul').removeClass('active')
		});
		
	</script>
</body>
</html>